//color
$colorText: #171739;
$colorBlueHard:#6BA2CE;
$colorBlueLite: #7aBBEB;
//
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto Slab', serif;
    color: $colorText;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url('../img/bgLineCenter.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    @media screen  and (max-width: 1440px) {
        background-color: #edeff8;
        background-image:none;
    }
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content{
    height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 auto;
}
section{
    h1{
        display: block;
        text-align: center;
        margin-top: 80px;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 32px;
        @media screen and (max-width:420px) {
            margin-top: 10px;

        }
    }
    .header_person{
        margin: 0 10px;
        .puls_block{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 200px;
        }
        .img-megafon{
            z-index: 99999;

        }
        .img-header-person{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid $colorBlueHard;
            &:hover{
                cursor: pointer;
            }
        }
        h2{
            margin: 12px 0;
            font-weight: 700;
        }
        span,p{
            font-size: 12px;
        }
        p{
            text-align: left;
            padding: 0 20px;
        }
        &:hover{
            .puls_block{
                &>div{
                animation: puls 2s linear infinite;
                }
            }
        }
    }
}
.slider-container{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
   .slider-track{
    display: flex;
    transition: .2s;
    align-items: center;
    text-align: center;
       .slider-item{
           //min-width: 240px;
           @media screen and (min-width: 200px) and (max-width: 1040px) {
               min-width: 382px;
               width: 386px;
           }
       }
   }
}
.slider-buttons{
    position: relative;
    .btn-prev{
        position: absolute;
        top: 50%;
        left: 2%;
        background-image: url('../img/prev.png');
    }
    .btn-next{
        position: absolute;
        top: 50%;
        right: 2%;
        background-image: url('../img/next.png');
    }
    .styleSliderBTN{
        color: $colorBlueHard;
        transform: translate(0, -200px);
        height: 25px;
        border:none;
        width: 30px;
        background-size: cover;
        span{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;       
            &:before{
                content: "";
                position: absolute;
                top: 57%;
                left: 50%;
                width: 30px;
                height: 30px;
                border: 1px solid #6ba2ce;
                border-radius: 50%;
                transform: translate(-50%, -50%);

            }
            &:after{

            }
        }

    }
}

// ////////////////////
.wave1, .wave2,.wave3{
    position: absolute;
    top: 20%;
    left: 28%;
    background-image: url('../img/curcle.png');
    background-size:cover;
    // border: 3px solid red;
}
.wave1{
    width: 124px;
    height: 120px;
    animation: wave 11s linear infinite;
    opacity: 0.3;
        @media screen and (min-width:768px) and (max-width:800px){
            left: 24%;
        }
        @media screen and (min-width: 624px) and (max-width: 768px){
            left: 27%;
        }
        @media screen and (min-width: 486px) and (max-width: 624px){
            left: 21%;
        }
        @media screen and (min-width: 385px) and (max-width: 486px){
            left: 32%;
        }
        @media screen and (min-width: 200px) and (max-width: 385px){
            left: 26%;
        }
        
        
} 
 .wave2{
    width: 104px;
    height: 100px;
    animation: waveRevers 10s linear infinite;
    left: 31%;
    top: 25%;
    opacity: 0.4;
        @media screen and (min-width:768px) and (max-width:800px){
            left: 27%; 
        }
        @media screen and (min-width: 624px) and (max-width: 768px){
            left: 32%;
        }
        @media screen and (min-width: 486px) and (max-width: 624px){
            left: 27%;       
        }
        @media screen and (min-width: 385px) and (max-width: 486px){
            left: 36%;
        }
        @media screen and (min-width: 340px) and (max-width: 385px){
            left: 33%;
        }
        @media screen and (min-width: 200px) and (max-width: 340px){
            left: 30%;
        }
        
}

.wave3{
    height: 80px;
    width: 84px;
    animation: wave 9s linear infinite;
    left: 35%;
    top: 30%;
    opacity: 0.7;
        @media screen and (min-width:768px) and (max-width:800px){
            left: 31%;
        }
        @media screen and (min-width: 200px) and (max-width: 768px){
            left: 34%;
        }
        @media screen and (min-width: 486px) and (max-width: 624px){
            left: 31%;
        }
        @media screen and (min-width: 385px) and (max-width: 486px){
            left: 38%;
        }
        @media screen and (min-width: 340px) and (max-width: 385px){
            left: 36%;
        }
        @media screen and (min-width: 200px) and (max-width: 340px){
            left: 34%;
        }
        
}

//круговое вращение
@keyframes wave {
    100% {
       transform: rotate(360deg);
    }
}
@keyframes waveRevers {
    100% {
       transform: rotate(-360deg);
    }
}
/////////////
@-webkit-keyframes puls {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1.4, 1.4, 1.4);
      }
 
  }
  
  @keyframes puls {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1.4, 1.4, 1.4);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1.4, 1.4, 1.4);
    }
  }
