
/* @media screen and (max-width: 200px) and (min-width: 640px){
.wave1 {
    left: 27%;
}
}

@media screen and (max-width: 200px) and (min-width: 640px){
.wave2 {
    left: 32%;
}
}

@media screen and (max-width: 200px) and (min-width: 640px){
    .wave3 {
        left: 34%;
    }
} */