/* 
@media screen and (max-width: 200px) and (min-width: 640px){
    left: 27%;

}

@media screen and (max-width: 200px) and (min-width: 640px){
    left: 32%;

}

@media screen and (max-width: 200px) and (min-width: 640px){
        left: 34%;
} */