//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto Slab', serif;
    list-style: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */



    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
   //background:url("../img/bodyBG.png");
    width: 100%;
    height: 100%;
   //background-size: cover;
}
//content
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;

}
//colors
$colorRedBlack: #491305;



.header_section{
    .header_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @media screen and (max-width: 622px) {
            flex-wrap: wrap;
            padding: 10px 10px 0 10px;
        }
        h2{
            min-width: 350px;    
            font-size: 32px;
            line-height: 25px;
            text-align: center;
            @media screen and (max-width:420px){
                min-width: 260px;
                width: 100%;
                
            }
            @media screen and (max-width:340px) {
                font-size: 28px;
                line-height: 25px;
            }
        }
        .my_phone{
            width: 40%;    
            font-size: 24px;
            line-height: 18px;
            @media screen and (max-width: 622px) {
                width: 50%;
                text-align: center;
                padding: 20px 0;
            }
            @media screen and (max-width:420px) {
                font-size: 20px;
            }
            p{
                font-size: 16px;  
                padding-left: 6px; 
                @media screen and (max-width:340px){
                    font-size: 12px;
                } 
            }
        }
        .header-btn{
            display: flex;
            padding: 6px;
            width: auto;
            // border: 1px solid #ff811d;
            border-radius: 16px;
            background: #ffffff;
            a{
                width: 40px;
                height: 40px;
                background-size: cover;
                border-radius:50%;
                margin: 0 4px;
                &:hover{
                    box-shadow: 0px 0px 12px;
                }
                @media screen and (max-width:420px) {
                width: 30px;
                height: 30px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .tell{
                background-image: url("../img/header/new_phone.png");

            }
            @media screen and (max-width:420px) {
                    width:40%;   
                    justify-content: space-around;
            }
        }
    }
    nav{
        background: $colorRedBlack;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:640px) {
            justify-content: end;
        }
    }
}

//menu
.dws_menu > ul{
	display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:640px) {
        display: none;
    }
}

.dws_menu > ul li a{
	display: block;
	padding: 12px 0;
	font-size: 14px;
	color:#ffffff;
	text-decoration:none;
	transition: all .3s ease;
}
.dws_menu ul > li{
	position: relative;
}
.dws_menu > ul li > a i.fa{
	position: absolute;
	text-align: 15px;
	left: 12px;
	font-size: 18px;
}


.dws_menu a:hover{
	background: #491305;
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all .3s ease;
}
.dws_menu  ul li{
    width: 150px;
    text-align: center;
}

.dws_menu li ul{
	position: absolute;
    max-width: 150px;
    background: #bd3816;
    display: none;
    z-index: 2;
}

// .dws_menu li > ul li{
// 	border: 1px solid #c7c8ca;
// } 

.dws_menu li > ul li a{
	padding: 10px;
	text-decoration: none;
	//background: #e4e4e5;
}

.dws_menu li > ul li ul{
	position: absolute;
	right: -150px;
	top: 0;
}

.dws_menu li:hover >ul{
	display: block;
} 

.show_nav{
    height: 20px;
    width: 20px;
    align-items: center;
    display: none;
    @media screen and (max-width: 640px) {
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: 10px 0;
        justify-content: space-around;
        width: 40%;
    }
    p{
        color:#fff;
    }
    span{
        position: relative;
        width: 20px;
        height: 2px;
        background: #ffffff;
        display: block;
        &:before{
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: #ffffff;
            display: block;
            top:-6px;
            left: 0;
        }
        &:after{
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: #ffffff;
            display: block;
            top:6px;
            left: 0;

        }
    }
}

.active{
    align-items: baseline;
    justify-content: space-between;
    li ul{
        left: 150px;
    top: 8px;
    }
    >ul{
        z-index: 2;
        display: block;
        flex-direction: column;
        position: fixed;
        background-color: #000000f2;
        width: 100%;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding-top: 20%;
    }

    .show_nav{
        height: 20px;
        width: 20px;
        align-items: center;
        display: flex;
        position: absolute;
        right: 2%;
        top: 2%;
        z-index: 2;
        
        span{
            background: transparent;
           &:before{
            top: 0;
            left: 0;
            transform: rotate(45deg);    
            transition: 0.6s;

            }
            &:after{
                top: 0;
                left: 0;
                transform: rotate(-45deg);    
                transition: 0.6s;

            }
        }
        p{
            display: none;
        }
    }
}
//swiper
.content-slider{
    background: #ffffff;
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    @media screen and (max-width:420px){
        width: 100%;
        
    }
}
.swiper-wrapper{
    margin: 12px 0;
}
//slide1
.slide1{
    background-image: url("../img/slider/slide_one/sloi1.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    background-position: right;

    @media screen and (max-width: 600px) and (min-width:340px){
        background-image: url("../img/slider/slide_one/sloi2.jpg");
        background-size: cover;

        height: 220px;
        background-position: right;

    }
    @media screen and (max-width: 340px){
        background-image: url("../img/slider/slide_one/sloi3.jpg");
        height: 200px;
        background-size: cover;
        background-position: right;

    }
}
//slide2
.slide2{
    background-image: url("../img/slider/slide_two/sloi1.png");
    background-size: cover;
    width: 100%;
    height: 320px;
    display: flex;
    background-position: right;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
        background-image: url("../img/slider/slide_two/sloi2.png");
        background-size: cover;
        background-position: right;
    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-size: cover;
        background-image: url("../img/slider/slide_two/sloi3.png");
        background-position: right;
    }
}
//slide3
.slide3{
    background-image: url("../img/slider/slide_free/sloi1.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    background-position: right;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
        background-position: right;
        background-image: url("../img/slider/slide_free/sloi2.png");

    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-size: cover;
        background-position: right;
        background-image: url("../img/slider/slide_free/sloi3.png");

    }
}
//slide4
.slide4{
    background-image: url("../img/slider/slide_four/sloi1.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
        background-image: url("../img/slider/slide_four/sloi2.png");
        background-position: right;
    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-size: cover;
        background-image: url("../img/slider/slide_four/sloi3.png");
        background-position: right;

    }
}
//slide5
.slide5{
    background-image: url("../img/slider/slide_five/sloi1.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    background-position: right;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
        background-image: url("../img/slider/slide_five/sloi2.jpg");
        background-position: right;
    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-image: url("../img/slider/slide_five/sloi3.png");
        background-size: cover;
        background-position: right;
    }
}
//slide6
.slide6{
    background-image: url("../img/slider/slide1.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-size: cover;
    }
}
//slide7
.slide7{
    background-image: url("../img/slider/slide6.png");
    width: 100%;
    height: 320px;
    display: flex;
    background-size: cover;
    @media screen and (max-width: 600px) and (min-width:340px){
        height: 220px;
    }
    @media screen and (max-width: 340px){
        height: 200px;
        background-size: cover;
    }
}
////////////
.mask_grey{
    // background-color: #808080a1;
    background-color: #80808075;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.wrapp_desc{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    >div{
        position: relative;
        width: 100%;
        .span_slide_desc{
            font-size: 27px;
            color: #fff;
            display: block;
            width: 400px;
            background: red;
            letter-spacing: 2px;
            padding: 10px 10px;
            position: absolute;
            left: 100px;
            top: 120px;
            -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            @media screen and (max-width:620px) {
                font-size: 16px;
                left: 40px;
                width: 258px;
            }
            @media screen and (max-width:420px) {
                line-height: 10px;
                font-size: 12px;
                left: 40px;
                width: 138px;
                font-weight: 700;
                top: 80px;
            }
        }
        .href_slide_desc{
            background: green;
            font-size: 22px;
            padding: 5px 10px;
            color: #fff;
            text-decoration: none;
            left: 356px;
            top: 200px;
            position: absolute;
            display: flex;
            align-items: center;
            width: 200px;
            -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            @media screen and(max-width:620px) {
                font-size: 14px;
                left: 200px;
                top: 160px;
                width: 122px;
            }
            @media screen and(max-width:420px) {
                left: 120px;
                top: 128px;
                width: 114px;
            }
                img{
                    width: 20px;
                    height: 20px;
                
            }
        }
    }
    
}
//shield_section
.shield_section{
    margin-top: 80px;
    padding: 12px 0 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-image: url("../img/shield_section/shield_sectionBG.png");
    // background-attachment: fixed;
    // width: 100%;
    // @media screen and (max-width:520px) and (min-width:300px) {
    //     background-image: url("../img/shield_section/shield_sectionBG420.png");
    // }
    // @media screen and (max-width:1020px) and (min-width:521px) {
    //     background-image: url("../img/shield_section/shield_sectionBG600.png");
    // }
    @media screen and (max-width: 622px) {
        flex-direction: column;
        flex-flow: column-reverse;
    }
    p{
        display: block;
        width: 574px;
        font-weight: 700;
        text-align: center;
        font-size: 18px;
        letter-spacing: 2px;
        background: #fffffff0;;
        border-radius: 20px;
        @media screen and (max-width: 622px) {
            width: auto;
            padding: 20px 10px;
            // font-weight: 100;
            font-size: 16px;

            
        }
    }
    img{
        @media screen and (max-width:420px) {
            width: 200px;
            
        }
    }
    @media screen and(max-width:420px) {
        margin: 0;
    }
}


.block_security{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 0;
    .block-services{
        position: relative;
        width: 380px;
        height: 240px;
        margin-bottom: 20px;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
        img{
            height: 100%;
            width: 100%;
        }
        .mask_services{
            background-color: #415b6cc9;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        a{
            font-size: 24px;
            line-height: 24px;
            width: 100%;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            text-decoration: none;
            height: 100%;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        &:hover{
            img{
                transform: scale(1.1);
                transition: 1.5s;
            }
        }
        @media screen and (max-width:420px){
            width: 280px;
            height: 200px;
        }
    }
    @media screen and(max-width:420px) {
        margin: 0;
    }
}

// fixed_bg_block
.fixed_bg_block{
    padding:146px 0;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../img/about_us/bg_attach.png");
    background-size: cover;
    @media screen and (min-width:640px) and (max-width:920){
        background-image: url("../img/about_us/bg_attach_920.png");
    }   
    @media screen and (min-width:200px) and (max-width:640px){
        background-image: url("../img/about_us/bg_attach_640.png");
        padding: 40px 0;

    }

    .logo_block{
        height: 566px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        @media screen and (max-width: 1020px){
            width: 80%;
            margin: 0 auto;
        }
        @media screen and (max-width: 1020px){
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 520px){
            height: auto;

        }

        .p_big{
            width: 57%;
            background-color: #816d40c9;
            position: relative;
                @media screen and (min-width: 1020px){
                    clip-path: polygon(50% 0%, 100% 0, 87% 53%, 76% 100%, 0 100%, 0% 63%, 0 0);
                }
                @media screen and (max-width: 1020px){
                    width: 100%;
                }
            p{
                position: absolute;
                top: 50%;
                left: 40%;
                font-size: 49px;
                color: #fff;
                text-align: center;
                letter-spacing: 13px;
                line-height: 52px;
                font-weight: 600;
                text-shadow: 9px 9px 8px #000;
                @media screen and (min-width: 1020px){
                    transform: translate(-50%, -50%);
                    
                }
                @media screen and (max-width: 1020px){
                    font-size: 29px;
                    color: #fff;
                    padding: 20px 20px;
                    letter-spacing: 9px;
                    line-height: 32px;
                    position: static;                
                }
                @media screen and (max-width: 420px){
                    line-height: 18px;
                    font-size: 20px;             
                }   
            }
        }
        .p_smoll{
            position: absolute;
            height: 100%;
            width: 57%;
            background-color: #442820e3;
            right: 0%; 
            @media screen and (min-width: 1020px){
                clip-path: polygon(100% 0, 100% 40%, 100% 100%, 0 100%, 24% 0);
            }
            @media screen and (max-width: 1020px){
                position: static;   
                width: 100%;
             
            }
            span{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    position: absolute;
                    color: #ffffff;
                    width: 60%;
                    letter-spacing: 4px;
                    @media screen and (max-width: 1020px){
                        position: static; 
                        padding: 20px 20px;
                        width: 100%;
                    }
                    @media screen and (max-width: 420px){
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 1px;
                    }
                }  
            }                
        }
    }
}

.feedback{
    background-image: url("../img/feedback/feedback_bg.png");
    // height: 552px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 300px 0;
    .form_action{
        position: absolute;
        background: #888888ba;
        display: flex;
        flex-direction: column; 
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        width: 80%;
        span{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 15px;
        }
        form{
            width:400px;
            label{
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                font-weight: bold;
                padding: 10px 0;
                input{
                    padding: 10px 10px;
                    font-size: 18px;
                    margin-top: 10px;
                }
            
            }
            @media screen and (max-width:520px) {
                width: 80%;
                padding: 6px 6px;
                
            }
        }   
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background:#000000;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left:0;
    }
}
///////////////contacts itml
.contacts{
    .img_mask{
        background-image: url("../img/contscts/contscts_header.png");
        padding: 72px 0 60px 0;
        background-attachment: fixed;
        background-repeat: space;
        .window{
            color: #FFFFFF;
            background: linear-gradient(#8d7845b0, #5e302ab5);            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 22px;
            h3{
                margin: 10px 0;     
            }
            @media screen and (max-width:1230px) {
                margin: 0 20px;
            }
            @media screen and (max-width:600px) {
                font-size: 16px;
            }
            @media screen and (max-width:320px) {
                font-size: 14px;
            }
        }
        @media screen and (max-width:760px) {
            background-image: url("../img/contscts/contscts_header_mob.png");
            padding: 30px 0 74px 0;
            
        }
        @media screen and (max-width:460px) {
            height: 80px;
            overflow: hidden;
        }
        @media screen and (min-width:1600px) {
            background-size: contain;
            
        }
    }
}



//map_section
.map_section{
display: flex;
align-items: center;
justify-content: center;
padding: 30px 0 60px 0;
position: relative;
    .map_section_info{
        width: 30%;
        padding: 10px 20px;
        span{
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 18px;
            line-height: 32px;
            color: #344956;
        }
        ol{
            li{
            list-style-type: circle;
            margin-top: 8px;
            }
        }
    }
    .shadow_wrapp{
        width:100%;   
        height:420px; 
        -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
        box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
    @media screen and (max-width:1200px){
        width: 90%;
    }
    @media screen and (max-width:800px){
        width: 90%;
        height: 480px;
    }
  
    }
    .wrapp_desc{
        top: -8%;
        left: auto;
        right: 55%;
        height: 0;
        width: 0;
        div{
            position: relative;
        span{ -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);}
        a{ -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 0px 14px 25px 3px rgba(0,0,0,0.75);}
        }
        @media screen and (min-width:840px) and (max-width:1200px){
            bottom: 54%;
            right: 74%;
        }
        @media screen  and (max-width:840px){
            top: 66%;
            right: 100%;
        }
        @media screen  and (max-width:340px){
            top: 73%;
        }
    }
    @media screen and (max-width: 800px){
        flex-wrap: wrap;
        .map_section_info{
            width: 100%;
            padding: 20px 30px;
        }
    }
}


///text_message
.text_message{
    background-image: url("../img/text_message/sec_fixed.png");
    background-size: cover;
    @media screen and (max-width:800px) {
        background-image: url("../img/text_message/sec_fixed_800.png");
    }
    @media screen and (max-width:420px) {
        background-image: url("../img/text_message/sec_fixed_300.png");
    }
    span{
        display: block;
        color:#ffffff;
        padding: 30px 20px;
    }
}

////item_shop
.item_shop{
    background-image:url("../img/item_shop/shop_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 80px 0;
    .item_wrapp{
        display: flex;
        flex-direction: column;
        .item{
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            margin: 20px 0;

            .img_icon{
                position: relative;
                img{
                    max-width: 380px;
                    @media screen and (max-width:460px){
                        max-width: 300px;
                    }
                }
                .item_name{
                    position:absolute;
                    color: #FFFFFF;
                    z-index: 2;
                    font-size: 28px;
                    font-weight: bold;
                    text-transform: uppercase;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }
            .span_shop_text{
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-size: 16px;
                    line-height: 22px;
                }
                .href_slide_desc{
                    background: green;
                    font-size: 22px;
                    padding: 5px 10px;
                    color: #fff;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    width: 200px;
                    -webkit-box-shadow: 0px 14px 25px 3px rgba(0,0,0,.75);
                    -moz-box-shadow: 0px 14px 25px 3px rgba(0,0,0,.75);
                    box-shadow: 0px 14px 25px 3px rgba(0,0,0,.75);
                    margin-top: 20px;

                }
            }
            @media screen and (max-width:800px){
                flex-wrap: wrap;
                justify-content: center;
                .img_icon{
                    margin-bottom: 20px;
                    .item_name{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

