html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Condensed', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// переменные цветов
$color_blue:#19b5ff;
$color_dark_blue:#213047;
// Контент сайта
.content{
	max-width: 1313px;
	padding: 0 20px;
	margin: 0 auto;
}
// стили кнопoк и текста 
.style_button{
	color: #ffffff;
	border: 1px solid $color_blue;
	border-radius: 3px;
	padding: 19px 26px;
    width: 257px;
    font-size: 22px;
    letter-spacing: 2px;
    &:hover{
    	cursor: pointer;
    	border:1px solid #2196f3 ;
    }
}
.Text_top_slider{
	color:#ffffff;
    font-size: 52px;
    line-height: 53px;
    text-transform: unset;
    font-weight: bold;
    letter-spacing: 2px;
    @media screen and (max-width:1220px ) {
    	    font-size: 40px;
    	    line-height: 43px;
    }
    @media screen and (max-width:860px ) {
    	    font-size: 32px;
   			line-height: 33px;
    }
    @media screen and (max-width:600px ) {
    	    font-size: 24px;
    		line-height: 25px;
    }
    @media screen and (max-width:420px ) {
    	font-size: 18px;
   	    line-height: 16px;
    }
}
.text_top{
	font-size: 36px;
	font-weight: bold;
}
.text_body{

}
//header + menu
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    @media screen and(max-width:840px ) {
    	flex-direction: column;
    }
    .header_action{
    	display: flex;
    	justify-content: space-around;
    	&>div{
    		display: flex;
    		flex-direction: column;
    		margin-right: 42px;
    		justify-content: center;
    		a{
    			text-decoration: none;
    			color:#000000;
    			img{
    			margin-right: 6px;
	    		}
	    	}
    		.block_mail{
    			img{
    				margin-right: 6px;
	    		}
	    	}
    	}
    	button{
		    background: $color_blue;
    	}
    	 @media screen and(max-width:840px ) {
    		padding: 20px 0;
    	}
    	 @media screen and(max-width:600px ) {
    		flex-direction: column;
    		.block_mail{
    			margin: 20px 0;
    		}

    	}
    }
}
.header_menu{
	background: $color_dark_blue;
	ul{
		li{
			display: flex;
		    flex-wrap: wrap;
			a{
				letter-spacing: 1px;
				text-decoration: none;
				color: #ffffff;
				padding: 26px 0;
				margin-left: 12px;
				text-transform: uppercase;
				&:nth-child(1){
					margin-left: 0;
				}
				@media screen and (max-width: 440px) {
					    padding: 16px 0;
					    margin-left: 40px;					
				}
				&:hover{
					color: $color_blue;
				}
			}
			@media screen and (max-width: 520px) {
				justify-content: center;
			}
		}
	}
}
//slider swiper
.swiper_bg{
	background-image:url("../img/swiper_img/swiper_bg.jpg");
	background-position: bottom;
	background-size: cover;
	height: 560px;
	width: 100%;
	position: relative;
	&:before{
		content: "";
	    position: absolute;
	    width: 51%;
	    height: 100%;
	    background-color: #000000;
	    opacity: 0.7;
	    @media screen and(max-width: 620px) {
	    	width: 77%;
	    }
	}
	@media screen and(max-width: 1200px) {
		height: 480px;
	}
	@media screen and(max-width: 820px) {
		height: 420px;
	}
	@media screen and(max-width: 567px) {
		height: 320px;
	}
	@media screen and(max-width: 420px) {
		height: 220px;
	}

}
.swiper-container{
	height: 100%;
    width: 50%;
    position: absolute;
    @media screen and (min-width:1570px)  {
    	width: 28%;
    }
    @media screen and (max-width:620px)  {
    	width: 70%;
    }
}

.swiper-slide{
	margin-top: 55px;
	padding-left: 2px;
	.style_button{
		background: transparent;	
		color:$color_blue;
		position: absolute;
		bottom: 26%;
		@media screen and (max-width: 400px) {
			padding: 7px 14px;
		    max-width: 192px;
		    font-size: 16px;
		}
		@media screen and (max-width: 820px) {
			    bottom: 32%;
		}
	}
	@media screen and (max-width: 420px) {
		margin-top: 32px;
	}
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	width: 100%;
    position: absolute;
    left: -41%;
    bottom: 5.5%;
    transform: scale(1.5);	

	@media screen and (max-width: 1000px) {
	        left: -37%;
	}
	@media screen and (max-width: 620px) {
	        left: -25%;
	}
	@media screen and (max-width: 420px) {
	        left: -14%;
	}
}
// about company
.about_company{
	display: flex;
	margin-top: 88px;
	margin-bottom: 100px;
	.company_wrapper{
		    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
		.section_left{
		    display: flex;
		    flex-direction: column;
		    width: 50%;
		    padding: 20px 20px 20px 0;
		    img{
		    	@media screen and (max-width: 920px) {
		    		width: 100%;
		    	}
		    }
		    span{ 
		    	line-height: 22px;
			    margin-top: 30px;
			    letter-spacing: 1.5px;
			    margin-bottom: 28px; 
		    }
		    button{	
			    display: block;
			    width: 94px;
			    border: none;
			    padding: 0;
			    background: inherit;
			    font-weight: 600;
			    position: relative;
			    &:hover{
			    	cursor: pointer;
			    	 &:after{
					    	transform: scale(-1, 1);
					    	transition: 0.7s;
						}

			    }
			    &:after{
			    	content: "";
				    width: 0;
				    height: 0;
				    border-top: 4px solid transparent;
				    border-left: 8px solid #000000;
				    border-bottom: 4px solid transparent;
				    border-right: none;
				    position: absolute;
				    right: -10px;
				    top: 4px;
				}
			}
			 @media screen and(max-width: 920px) {
				width: 100%;
			}
		}
		.section_right{
		    display: flex;
		    width: 50%;
		    padding: 20px 20px 20px 0;
		    ul{
		    	li{
		    		position: relative;
			        font-size: 16px;
				    font-weight: 600;
				    text-transform: uppercase;
				    margin-bottom: 34px;
				    line-height: 28px;
				    color:$color_blue;
				    margin-left: 45px;
				    letter-spacing: 1.5px;
				    &:before{
					    position: absolute;
					    top: -4px;
					    left: -23px;
					    font-size: 27px;
					    color:$color_blue;
				    }
				    &:nth-child(1){
						&:before{
							content: "1";
						}
					}
					&:nth-child(2){
						&:before{
							content: "2";
						}
					}
					&:nth-child(3){
						&:before{
							content: "3";
						}
					}
					&:nth-child(4){
						&:before{
							content: "4";
						}
					}
					&:nth-child(5){
						&:before{
							content: "5";
						}
					}
					&:nth-child(6){
						&:before{
							content: "6";
						}
					}
					&:nth-child(7){
						&:before{
							content: "7";
						}
					}
		    	}
		    }
		    @media screen and(max-width: 920px) {
				width: 100%;
			}
		}
		@media screen and(max-width: 920px) {
			flex-direction: column;
		}
	}
	@media screen and (max-width: 920px) {
	    margin-top: 34px;
	    margin-bottom: 50px;
	}
}